  <p>
    <b>Name:</b> <%= event.name %>
  </p>
  <p>
    <b>Description:</b> <%= event.description %>
  </p>
  <p>
    <b>Location:</b> <%= event.location %>
  </p>
  <p>
    <b>Date:</b> <%= event.date %>
  </p>
  <p>
    <b>Creator:</b> <%= event.creator.first_name + ' ' + event.creator.last_name %>
  </p>
  <p>
  <% unless current_page?(event_path(event.id))%>
    <a href="/events/<%= event.id %>">View Event</a>
  <% end %>
  <% if user_signed_in? && event.date > Date.today %>
    <% if event.attendees.include?(current_user) %>
          <%= form_with url: '/event_attendees', method: :delete do |form| %>
        <%= form.hidden_field :attendee_id, value: current_user.id %>
        <%= form.hidden_field :attended_event_id, value: event.id %>
        <%= form.submit value: 'Leave Event' %>
      <% end %>
    <% else %>  
      <%= form_with url: '/event_attendees' do |form| %>
        <%= form.hidden_field :attendee_id, value: current_user.id %>
        <%= form.hidden_field :attended_event_id, value: event.id %>
        <%= form.submit value: 'Join Event' %>
      <% end %>
    <% end %>
  <% end %>
  <br>
  <br>
</p>
